.cat-wrapper {
  padding: 75px;
  margin: 0;
  font-family: sans-serif;
  width: 17%;
  height: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0%;
  right: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 100vh;
          perspective: 100vh;
  overflow: hidden;
  position: fixed;
}
@media (max-width: 1440px) {
  .cat-wrapper {
    width: 11%;
    height: 11%;
    padding: 45px;
  }
}
@media (max-width: 1200px) {
  .cat-wrapper {
    width: 14%;
    height: 11%;
    padding: 45px;
  }
}
@media (max-width: 990px) {
  .cat-wrapper {
    width: 19%;
    height: 11%;
    padding: 45px;
  }
}
@media (max-width: 750px) {
  .cat-wrapper {
    width: 25%;
    height: 11%;
    padding: 45px;
  }
}
@media (max-width: 500px) {
  .cat-wrapper {
    width: 35%;
    height: 11%;
    padding: 45px;
  }
}
@media (max-width: 375px) {
  .cat-wrapper {
    width: 45%;
    height: 11%;
    padding: 45px;
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  51% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  52% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  51% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  52% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes whiskerShake {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
@keyframes whiskerShake {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
.cat {
  width: 70vh;
  position: relative;
  -webkit-perspective: 70vh;
          perspective: 70vh;
}
.cat div {
  position: relative;
}
.cat svg {
  width: 100%;
}
.cat .head {
  width: 100%;
  z-index: 2;
  -webkit-perspective: 70vh;
          perspective: 70vh;
}
.cat .head > svg {
  z-index: -1;
}
.cat .head .marking {
  z-index: 3;
}
.cat .head .ears {
  z-index: -2;
}
.cat .head path {
  fill: #fab801;
}
.cat .eyes {
  position: absolute;
  z-index: 3;
  top: 25%;
  width: 45%;
  left: 27.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cat .eyes .eye {
  width: 22.5%;
  fill: #5e5f5e;
}
.cat .eyes .eye svg {
  -webkit-animation: blink 5s infinite linear;
          animation: blink 5s infinite linear;
}
.cat .marking {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 30%;
  left: 35%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.cat .marking path {
  fill: #cd8d46;
}
.cat .whiskers {
  position: absolute;
  width: 130%;
  left: -15%;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}
.cat .whiskers .whisker {
  width: 30%;
  fill: none;
  stroke: #cd8d46;
  stroke-width: 6%;
  stroke-linecap: round;
}
.cat .whiskers .whisker:nth-child(1) svg {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.cat .whiskers .whisker svg {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: whiskerShake 3s infinite ease-in-out;
          animation: whiskerShake 3s infinite ease-in-out;
}
.cat .nose {
  position: absolute;
  top: 50%;
  width: 55%;
  left: 22.5%;
  z-index: 3;
}
.cat .nose .st0 {
  fill: #cd8d46;
}
.cat .nose .st1 {
  fill: none;
  stroke: #cd8d46;
  stroke-width: 6%;
}
.cat .ears {
  position: absolute;
  width: 100%;
  top: -15%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -1;
}
.cat .ears .ear {
  width: 25%;
}
.cat .ears .ear:nth-child(1) svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.cat .ears .ear .st1 {
  fill: #fab801;
}
.cat .ears .ear .st2 {
  fill: #cd8d46;
}

.test {
  position: fixed;
  top: 10px;
  left: 10px;
}
/*# sourceMappingURL=cat.css.map */