@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

//Fonts
$fontrobo: "Roboto Mono", monospace;
$fuzzy: "Fuzzy Bubbles", cursive;
$gwen: "Gwendolyn", cursive;
$comforta: "Comfortaa", cursive;
$secularone: "Secular One", sans-serif;

//Colors
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$dark-liver: #54494bff;
$mint-cream: #f1f7edff;
$turquoise-green: #91c7b1ff;
$bright-maroon: #b33951ff;
$flax: #e3d081ff;
$peach-crayola: #efbc9bff;
$kobi: #ee92c2ff;
$antique-fuchsia: #9d6a89ff;
$old-lavender: rgb(173, 128, 152);
$ash-gray: #a8b4a5ff;
$lavender-web: #e3dfffff;
$languid-lavender: #d3c0cdff;
$tuscany: #b19994ff;
$beaver: #937666ff;
$independence: #3d3a4bff;
$violet-blue-crayola: #757bc8ff;
$violet-blue-crayola-2: #8187dcff;
$cornflower-blue: #8e94f2ff;
$maximum-blue-purple: #9fa0ffff;
$maximum-blue-purple-2: #ada7ffff;
$maximum-blue-purple-3: #bbadffff;
$mauve: #cbb2feff;
$mauve-2: #dab6fcff;
$mauve-3: #ddbdfcff;
$mauve-4: #e0c3fcff;
$vapor-pink: #ff71ce;
$vapor-blue: #01cdfe;
$vapor-green: #05ffa1;
$vapor-purple: #b967ff;
$vapor-yellow: #fffb96;
