@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.circle {
  position: absolute;
  /*top: -$radius;
  left: -$radius;*/
  z-index: 100;
  top: 0;
  left: 0;
  width: 15em;
  height: 15em;
  -webkit-transition: width 0.3s, height 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, height 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transition: width 0.3s, height 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border-bottom-right-radius: 100%;
  /*transition: top 0.3s, left 0.3s;
  &:hover {
    top: -1em;
    left: -1em;
  }*/
}
.circle .link {
  width: 100%;
  height: 100%;
  display: block;
}
.circle .link::before {
  position: absolute;
  display: block;
  color: white;
  font-family: "FontAwesome";
  font-size: 1.5em;
  top: 1em;
  right: 1em;
}

.wrapcircles.closed .circle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 5em;
  height: 5em;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapcircles.closed #click {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapcircles.closed #click span {
  top: 1.125em;
  right: 2em;
}
.wrapcircles.closed #click span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.wrapcircles.closed #click span::before {
  -webkit-transform: none;
          transform: none;
}

#click {
  cursor: pointer;
}

#click span {
  -webkit-transition: bottom 0.3s, left 0.3s;
  transition: bottom 0.3s, left 0.3s;
  display: block;
  width: 30px;
  height: 30px;
  top: 1em;
  right: 1em;
  position: absolute;
}
#click span::before, #click span::after {
  display: block;
  position: absolute;
  font-family: inherit;
  content: "";
  width: 30px;
  height: 8px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  top: 11px;
  border-radius: 3px;
  background: white;
}
#click span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#click span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-1 {
  background: #264653;
  -webkit-transition-delay: 0.1s, 0.1s, 0.1s;
          transition-delay: 0.1s, 0.1s, 0.1s;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}
.c-1 .link::before {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  content: "";
}

.c-2 {
  background: #91c7b1ff;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
          transition-delay: 0.2s, 0.2s, 0.2s;
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
.c-2 .link::before {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
  content: "";
}

.c-3 {
  -webkit-transition-delay: 0.3s, 0.3s, 0.3s;
          transition-delay: 0.3s, 0.3s, 0.3s;
  background: #3d3a4bff;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}
.c-3 .link::before {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
  content: "";
}

.c-4 {
  -webkit-transition-delay: 0.4s, 0.4s, 0.4s;
          transition-delay: 0.4s, 0.4s, 0.4s;
  background: #54494bff;
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.c-4 .link::before {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
  content: "  ";
}

.c-5 {
  background: #03b270;
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1024px) {
  #nav {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.hero-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}
@media (max-width: 1440px) {
  .hero-container {
    margin-top: 55px;
  }
}
@media (max-width: 1024px) {
  .hero-container {
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .hero-container {
    margin-top: 150px;
  }
}

.main-container {
  width: 270px;
  height: 500px;
  position: relative;
  margin: 0 20px;
}
@media (max-width: 1440px) {
  .main-container {
    height: 420px;
  }
}
@media (max-width: 1024px) {
  .main-container {
    height: 380px;
  }
}

.card-container {
  width: 230px;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 9999;
}
@media (max-width: 1440px) {
  .card-container {
    width: 200px;
  }
}

.card {
  opacity: 1;
  width: 100%;
  max-height: 250px;
  -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.card:hover {
  opacity: 1;
  -webkit-animation: bounceOut 0.6s linear;
          animation: bounceOut 0.6s linear;
}

.disc-container {
  background: #fff;
  width: 270px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  opacity: 0;
}
@media (max-width: 1440px) {
  .disc-container {
    height: 375px;
    width: 240px;
  }
}
@media (max-width: 1024px) {
  .disc-container {
    height: 350px;
  }
}

.main-container:hover .disc-container {
  opacity: 1;
  -webkit-animation: bounceIn 0.6s linear;
          animation: bounceIn 0.6s linear;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
.disc__content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.disc__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 1440px) {
  .disc__title {
    font-size: 18px;
  }
}

.disc__slogan {
  color: #999;
  font-size: 15px;
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .disc__slogan {
    font-size: 11px;
  }
}

.disc__buy-btn {
  cursor: pointer;
  width: 100%;
  background: #2f2f2f;
  color: white;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

main {
  overflow: hidden;
}

header {
  z-index: 999999;
  position: fixed;
}

section {
  display: block;
  height: 110vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1440px) {
  section {
    height: 100vh;
  }
}

section.intro .element {
  font-size: 75px;
  font-weight: 700;
  color: #05ffa1;
  font-family: "Comfortaa", cursive;
  height: 100%;
  padding-top: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  section.intro .element {
    font-size: 35px;
  }
}
section.intro .typed-cursor {
  font-size: 70px;
}
@media (max-width: 500px) {
  section.intro .typed-cursor {
    font-size: 35px;
  }
}
section.intro .int-text {
  padding-top: 30px;
  color: #f1f7edff;
}
section.intro .int-text h1 {
  font-size: 55px;
  margin-bottom: 15px;
  font-family: "Roboto Mono", monospace;
}
@media (max-width: 500px) {
  section.intro .int-text h1 {
    font-size: 35px;
  }
}

section.work .heading {
  padding-top: 100px;
}
@media (max-width: 1440px) {
  section.work .heading {
    padding-top: 50px;
  }
}
@media (max-width: 500px) {
  section.work .heading {
    padding-top: 15px;
  }
}
section.work .heading h1 {
  margin-left: 150px;
  font-size: 100px;
  color: #fffb96;
}
@media (max-width: 1440px) {
  section.work .heading h1 {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.work .heading h1 {
    margin-left: 20px;
  }
}
section.work .heading p {
  font-size: 25px;
  color: #f1f7edff;
  line-height: 35px;
  text-align: center;
}
section.work .heading h1 + p {
  margin-top: 60px;
}

section.skills .heading {
  padding-top: 150px;
}
@media (max-width: 1440px) {
  section.skills .heading {
    padding-top: 50px;
  }
}
section.skills .heading h1 {
  margin-left: 70px;
  font-size: 100px;
  color: #b33951ff;
}
@media (max-width: 1440px) {
  section.skills .heading h1 {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.skills .heading h1 {
    font-size: 50px;
  }
}
section.skills .skill {
  margin-top: 50px;
  padding: 50px 50px;
  background-color: transparent;
  border-radius: 15px;
  font-family: "Secular One", sans-serif;
  color: #b967ff;
  font-size: 40px;
  z-index: 999;
}
@media (max-width: 1440px) {
  section.skills .skill {
    margin-top: 20px;
    padding: 25px 25px;
  }
}
@media (max-width: 500px) {
  section.skills .skill {
    margin-top: 30px;
    padding: 5px 5px;
    font-size: 35px;
  }
}
section.skills .skill.html:hover, section.skills .skill.js:hover, section.skills .skill.node:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  background-color: transparent;
}
section.skills .skill.css:hover, section.skills .skill.bs:hover, section.skills .skill.al:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  background-color: transparent;
}

section.contact .heading {
  padding-top: 150px;
}
@media (max-width: 1440px) {
  section.contact .heading {
    padding-top: 50px;
  }
}
section.contact .heading h1 {
  margin-left: 350px;
  font-size: 100px;
  color: #2a9d8fff;
}
@media (max-width: 1440px) {
  section.contact .heading h1 {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.contact .heading h1 {
    margin-left: 40px;
    font-size: 50px;
  }
}
section.contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 250px;
}
section.contact .contact-details a {
  color: #01cdfe;
  margin-right: 60px;
}
@media (max-width: 500px) {
  section.contact .contact-details a {
    margin-right: 30px;
  }
}
section.contact .contact-details a i {
  font-size: 100px;
}
@media (max-width: 1440px) {
  section.contact .contact-details a i {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.contact .contact-details a i {
    font-size: 40px;
  }
}
section.contact .contact-details a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.9;
  color: #05ffa1;
}
/*# sourceMappingURL=main.css.map */