@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.circle {
  position: absolute;
  /*top: -$radius;
  left: -$radius;*/
  z-index: 100;
  top: 0;
  left: 0;
  width: 15em;
  height: 15em;
  -webkit-transition: width 0.3s, height 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, height 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transition: width 0.3s, height 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border-bottom-right-radius: 100%;
  /*transition: top 0.3s, left 0.3s;
  &:hover {
    top: -1em;
    left: -1em;
  }*/
}
.circle .link {
  width: 100%;
  height: 100%;
  display: block;
}
.circle .link::before {
  position: absolute;
  display: block;
  color: white;
  font-family: "FontAwesome";
  font-size: 1.5em;
  top: 1em;
  right: 1em;
}

.wrapcircles.closed .circle {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 5em;
  height: 5em;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.wrapcircles.closed #click {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapcircles.closed #click span {
  top: 1.125em;
  right: 2em;
}
.wrapcircles.closed #click span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.wrapcircles.closed #click span::before {
  -webkit-transform: none;
          transform: none;
}

#click {
  cursor: pointer;
}

#click span {
  -webkit-transition: bottom 0.3s, left 0.3s;
  transition: bottom 0.3s, left 0.3s;
  display: block;
  width: 30px;
  height: 30px;
  top: 1em;
  right: 1em;
  position: absolute;
}
#click span::before, #click span::after {
  display: block;
  position: absolute;
  font-family: inherit;
  content: "";
  width: 30px;
  height: 8px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  top: 11px;
  border-radius: 3px;
  background: white;
}
#click span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#click span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-1 {
  background: #264653;
  -webkit-transition-delay: 0.1s, 0.1s, 0.1s;
          transition-delay: 0.1s, 0.1s, 0.1s;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}
.c-1 .link::before {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  content: "";
}

.c-2 {
  background: #5a8171;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
          transition-delay: 0.2s, 0.2s, 0.2s;
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
.c-2 .link::before {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
  content: "";
}

.c-3 {
  -webkit-transition-delay: 0.3s, 0.3s, 0.3s;
          transition-delay: 0.3s, 0.3s, 0.3s;
  background: #3d3a4bff;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}
.c-3 .link::before {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
  content: "";
}

.c-4 {
  -webkit-transition-delay: 0.4s, 0.4s, 0.4s;
          transition-delay: 0.4s, 0.4s, 0.4s;
  background: #54494bff;
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.c-4 .link::before {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
  content: "  ";
}

.c-5 {
  background: #03b270;
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1024px) {
  #nav {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.hero-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}
@media (max-width: 1440px) {
  .hero-container {
    margin-top: 45px;
  }
}
@media (max-width: 1024px) {
  .hero-container {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .hero-container {
    margin-top: 150px;
  }
}

.main-container {
  width: 280px;
  height: 500px;
  position: relative;
  margin: 0 20px;
}
@media (max-width: 1440px) {
  .main-container {
    height: 400px;
  }
}
@media (max-width: 1024px) {
  .main-container {
    height: 380px;
  }
}

.card-container {
  width: 230px;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 9999;
  overflow: visible;
}
@media (max-width: 1440px) {
  .card-container {
    width: 200px;
  }
}

.card {
  opacity: 1;
  width: 100%;
  max-height: 250px;
  -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.card:hover {
  opacity: 1;
  -webkit-animation: bounceOut 0.6s linear;
          animation: bounceOut 0.6s linear;
}

.disc-container {
  background: #fff;
  width: 270px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  -webkit-box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  opacity: 0;
}
@media (max-width: 1440px) {
  .disc-container {
    height: 360px;
    width: 240px;
  }
}
@media (max-width: 990px) {
  .disc-container {
    height: 350px;
  }
}

.main-container:hover .disc-container {
  opacity: 1;
  -webkit-animation: bounceIn 0.6s linear;
          animation: bounceIn 0.6s linear;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
.disc__content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.disc__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 1440px) {
  .disc__title {
    font-size: 18px;
  }
}

.disc__slogan {
  color: #999;
  font-size: 15px;
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .disc__slogan {
    font-size: 11px;
  }
}

.disc__buy-btn {
  cursor: pointer;
  width: 100%;
  background: #2f2f2f;
  color: white;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cat-wrapper {
  padding: 100px;
  margin: 0;
  font-family: sans-serif;
  width: 20vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0%;
  right: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 100vh;
          perspective: 100vh;
  overflow: hidden;
  position: fixed;
}
@media (max-width: 1440px) {
  .cat-wrapper {
    padding: 75px;
  }
}
@media (max-width: 1200px) {
  .cat-wrapper {
    padding: 50px;
  }
}
@media (max-width: 990px) {
  .cat-wrapper {
    width: 30vw;
    padding: 45px;
  }
}
@media (max-width: 769px) {
  .cat-wrapper {
    padding: 57px;
  }
}
@media (max-width: 500px) {
  .cat-wrapper {
    padding: 15px;
  }
}
@media (max-width: 375px) {
  .cat-wrapper {
    padding: 5px;
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  51% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  52% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  51% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  52% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes whiskerShake {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
@keyframes whiskerShake {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
.cat {
  width: 70vh;
  position: relative;
  -webkit-perspective: 70vh;
          perspective: 70vh;
}
.cat div {
  position: relative;
}
.cat svg {
  width: 100%;
}
.cat .head {
  width: 100%;
  z-index: 2;
  -webkit-perspective: 70vh;
          perspective: 70vh;
}
.cat .head > svg {
  z-index: -1;
}
.cat .head .marking {
  z-index: 3;
}
.cat .head .ears {
  z-index: -2;
}
.cat .head path {
  fill: #fab801;
}
.cat .eyes {
  position: absolute;
  z-index: 3;
  top: 25%;
  width: 45%;
  left: 27.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cat .eyes .eye {
  width: 22.5%;
  fill: #5e5f5e;
}
.cat .eyes .eye svg {
  -webkit-animation: blink 5s infinite linear;
          animation: blink 5s infinite linear;
}
.cat .marking {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 30%;
  left: 35%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.cat .marking path {
  fill: #cd8d46;
}
.cat .whiskers {
  position: absolute;
  width: 130%;
  left: -15%;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}
.cat .whiskers .whisker {
  width: 30%;
  fill: none;
  stroke: #cd8d46;
  stroke-width: 6%;
  stroke-linecap: round;
}
.cat .whiskers .whisker:nth-child(1) svg {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.cat .whiskers .whisker svg {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-animation: whiskerShake 3s infinite ease-in-out;
          animation: whiskerShake 3s infinite ease-in-out;
}
.cat .nose {
  position: absolute;
  top: 50%;
  width: 55%;
  left: 22.5%;
  z-index: 3;
}
.cat .nose .st0 {
  fill: #cd8d46;
}
.cat .nose .st1 {
  fill: none;
  stroke: #cd8d46;
  stroke-width: 6%;
}
.cat .ears {
  position: absolute;
  width: 100%;
  top: -15%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -1;
}
.cat .ears .ear {
  width: 25%;
}
.cat .ears .ear:nth-child(1) svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.cat .ears .ear .st1 {
  fill: #fab801;
}
.cat .ears .ear .st2 {
  fill: #cd8d46;
}

.test {
  position: fixed;
  top: 10px;
  left: 10px;
}

.roll-container,
.roll-elements figure {
  height: 0px;
  line-height: 0px;
  color: white;
}

.roll-elements figure:nth-of-type(1) {
  -webkit-transform: rotateX(0deg) translateZ(30px);
}

.roll-elements figure:nth-of-type(2) {
  -webkit-transform: rotateX(60deg) translateZ(30px);
}

.roll-elements figure:nth-of-type(3) {
  -webkit-transform: rotateX(120deg) translateZ(30px);
}

.roll-elements figure:nth-of-type(4) {
  -webkit-transform: rotateX(180deg) translateZ(30px);
}

.roll-elements figure:nth-of-type(5) {
  -webkit-transform: rotateX(240deg) translateZ(30px);
}

.roll-elements figure:nth-of-type(6) {
  -webkit-transform: rotateX(300deg) translateZ(30px);
}

.roll-elements[data-state="1"] figure:nth-of-type(1),
.roll-elements[data-state="2"] figure:nth-of-type(2),
.roll-elements[data-state="3"] figure:nth-of-type(3),
.roll-elements[data-state="4"] figure:nth-of-type(4),
.roll-elements[data-state="5"] figure:nth-of-type(5),
.roll-elements[data-state="6"] figure:nth-of-type(6) {
  opacity: 1;
}

.roll-container {
  margin-top: 300px;
  -webkit-transform: scale(4);
          transform: scale(4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 1440px) {
  .roll-container {
    margin-top: 250px;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@media (max-width: 990px) {
  .roll-container {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@media (max-width: 500px) {
  .roll-container {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (max-width: 375px) {
  .roll-container {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.roll-elements {
  width: 10%;
  height: 10%;
  z-index: 100;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
}

.roll-elements figure {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 30px;
  font-family: Verdana;
  font-weight: 100;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 2s cubic-bezier(0.9, 0.1, 0.9, 0.1);
  transition: all 2s cubic-bezier(0.9, 0.1, 0.9, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #264653;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

main {
  overflow: hidden;
}

header {
  z-index: 999999;
  position: fixed;
}

section {
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1440px) {
  section {
    height: 100vh;
  }
}

section.intro {
  height: 110vh;
  width: 100%;
}
section.intro .element {
  font-size: 75px;
  font-weight: 700;
  color: #05ffa1;
  font-family: "Comfortaa", cursive;
  height: 100%;
  padding-top: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  section.intro .element {
    font-size: 35px;
  }
}
section.intro .typed-cursor {
  font-size: 70px;
}
@media (max-width: 500px) {
  section.intro .typed-cursor {
    font-size: 35px;
  }
}
section.intro .int-text {
  padding-top: 30px;
  color: #f1f7edff;
}
section.intro .int-text h1 {
  font-size: 55px;
  margin-bottom: 15px;
  font-family: "Roboto Mono", monospace;
}
@media (max-width: 500px) {
  section.intro .int-text h1 {
    font-size: 35px;
  }
}

section.work .heading {
  padding-top: 100px;
}
@media (max-width: 1440px) {
  section.work .heading {
    padding-top: 25px;
  }
}
@media (max-width: 500px) {
  section.work .heading {
    padding-top: 15px;
  }
}
section.work .heading h1 {
  margin-left: 150px;
  font-size: 100px;
  color: #fffb96;
}
@media (max-width: 1440px) {
  section.work .heading h1 {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.work .heading h1 {
    font-size: 50px;
    margin-left: 20px;
  }
}
section.work .heading p {
  font-size: 25px;
  color: #f1f7edff;
  line-height: 35px;
  text-align: center;
}
section.work .heading h1 + p {
  margin-top: 60px;
}

section.skills .heading {
  padding-top: 150px;
}
@media (max-width: 1440px) {
  section.skills .heading {
    padding-top: 50px;
  }
}
section.skills .heading h1 {
  margin-left: 70px;
  font-size: 100px;
  color: #b967ff;
}
@media (max-width: 1440px) {
  section.skills .heading h1 {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.skills .heading h1 {
    font-size: 50px;
  }
}
section.skills .skill {
  margin-top: 50px;
  padding: 50px 50px;
  background-color: transparent;
  border-radius: 15px;
  font-family: "Secular One", sans-serif;
  color: #ad8098;
  font-size: 40px;
  z-index: 999;
}
@media (max-width: 1440px) {
  section.skills .skill {
    margin-top: 20px;
    padding: 25px 25px;
  }
}
@media (max-width: 500px) {
  section.skills .skill {
    margin-top: 30px;
    padding: 5px 5px;
    font-size: 25px;
  }
}
@media (max-width: 370px) {
  section.skills .skill {
    font-size: 15px;
  }
}

section.contact .heading {
  padding-top: 150px;
}
@media (max-width: 1440px) {
  section.contact .heading {
    padding-top: 50px;
  }
}
section.contact .heading h1 {
  margin-left: 350px;
  font-size: 100px;
  color: #2a9d8fff;
}
@media (max-width: 1440px) {
  section.contact .heading h1 {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.contact .heading h1 {
    margin-left: 40px;
    font-size: 50px;
  }
}
section.contact .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  margin-top: 250px;
}
section.contact .contact-details a {
  color: #05ffa1;
  padding-right: 60px;
}
@media (max-width: 500px) {
  section.contact .contact-details a {
    padding-right: 30px;
  }
}
section.contact .contact-details a i {
  font-size: 100px;
}
@media (max-width: 1440px) {
  section.contact .contact-details a i {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  section.contact .contact-details a i {
    font-size: 40px;
  }
}
section.contact .contact-details a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.9;
  color: #01cdfe;
}
/*# sourceMappingURL=main.css.map */