@import "global.scss";
@import "header.scss";
@import "card-block.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  scroll-behavior: smooth;
  // overflow: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
main {
  overflow: hidden;
}
header {
  z-index: 999999;
  position: fixed;
}
section {
  display: block;
  overflow: hidden;
  height: 110vh;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1440px) {
    height: 100vh;
  }
}
section.intro {
  .element {
    font-size: 75px;
    font-weight: 700;
    color: #05ffa1;
    font-family: $comforta;
    height: 100%;
    padding-top: 40vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 15px;

    @media (max-width: 500px) {
      font-size: 35px;
    }
  }
  .typed-cursor {
    font-size: 70px;

    @media (max-width: 500px) {
      font-size: 35px;
    }
  }
  .int-text {
    padding-top: 30px;
    color: $mint-cream;

    h1 {
      font-size: 55px;
      margin-bottom: 15px;
      font-family: $fontrobo;

      @media (max-width: 500px) {
        font-size: 35px;
      }
    }
  }
}
section.work {
  .heading {
    padding-top: 100px;

    @media (max-width: 1440px) {
      padding-top: 50px;
    }
    @media (max-width: 500px) {
      padding-top: 15px;
    }
    h1 {
      margin-left: 150px;
      font-size: 100px;
      color: $vapor-yellow;

      @media (max-width: 1440px) {
        font-size: 70px;
      }
      @media (max-width: 500px) {
        margin-left: 20px;
      }
    }
    p {
      font-size: 25px;
      color: $mint-cream;
      line-height: 35px;
      text-align: center;
    }

    h1 + p {
      margin-top: 60px;
    }
  }
}
section.skills {
  .heading {
    padding-top: 150px;

    @media (max-width: 1440px) {
      padding-top: 50px;
    }
    h1 {
      margin-left: 70px;
      font-size: 100px;
      color: $bright-maroon;

      @media (max-width: 1440px) {
        font-size: 70px;
      }

      @media (max-width: 500px) {
        font-size: 50px;
      }
    }
  }
  .skill {
    margin-top: 50px;
    padding: 50px 50px;
    background-color: transparent;
    border-radius: 15px;
    font-family: $secularone;
    color: $vapor-purple;
    font-size: 40px;
    z-index: 999;

    @media (max-width: 1440px) {
      margin-top: 20px;
      padding: 25px 25px;
    }

    @media (max-width: 500px) {
      margin-top: 30px;
      padding: 5px 5px;
      font-size: 35px;
    }

    &.html:hover,
    &.js:hover,
    &.node:hover {
      transform: scale(2);
      transform: translate(-100%, -100%);
      background-color: transparent;
    }
    &.css:hover,
    &.bs:hover,
    &.al:hover {
      transform: scale(2);
      transform: translate(100%, -100%);
      background-color: transparent;
    }
  }
}
section.contact {
  .heading {
    padding-top: 150px;

    @media (max-width: 1440px) {
      padding-top: 50px;
    }
    h1 {
      margin-left: 350px;
      font-size: 100px;
      color: $persian-green;

      @media (max-width: 1440px) {
        font-size: 70px;
      }
      @media (max-width: 500px) {
        margin-left: 40px;
        font-size: 50px;
      }
    }
  }
  .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;

    a {
      color: $vapor-blue;
      margin-right: 60px;

      @media (max-width: 500px) {
        margin-right: 30px;
      }

      i {
        font-size: 100px;

        @media (max-width: 1440px) {
          font-size: 70px;
        }
        @media (max-width: 500px) {
          font-size: 40px;
        }
      }

      &:hover {
        transform: scale(1.2);
        opacity: 0.9;
        color: $vapor-green;
      }
    }
  }
}
